body {
    background-color: #e5e5e5;
    margin-top:80px; /* nanti margin-top dihapus */
}
.meta-post {
    font-size: 12px;
    margin-bottom: 10px;
}
.no-border-radius {
  border-radius: 0px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.title a:after {
content: "CREFTO";
}
#navBarSearchForm input[type=text]{
  width:450px !important;
}
#notifdata {
  padding: 3px 15px 3px 20px; 
  min-width: 370px;
}
#notifdata, #notif a{
  color: black;
  text-decoration: none;
}
#notifdata:hover{
  background-color:  #f5f5f5;
}
@media (max-width : 1200px) {
#navBarSearchForm input[type=text]{
  width:400px !important;
}
}
@media (max-width : 1000px) {
#navBarSearchForm input[type=text]{
  width:200px !important;
}
}
@media (max-width : 768px) {
.title a:after {
content: "CF";
}
#titleUserPage {
display: none;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display:table; 
    width: 100%; 
    text-align: left;
    margin-top: 0px; 
}
}

.wrapper{
  margin-top: 60px;
}
article.posts {
    padding: 10px 20px;
    background-color: #fff;
    margin-top: 20px;
}

aside.widgets {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #fff;
}
aside.widgets ul {
    margin:0;
    padding:0;
}
aside.widgets li {
    list-style: none;
    padding: 0;
    margin:0;
}

.widget-title {
  border-bottom: 4px solid black;
  padding-bottom: 4px;
}

footer.copyright {
    padding: 10px 20px;
    font-size: 12px;
}

/*textarea untuk post*/
.panel.with-nav-tabs .panel-heading{
    padding: 0px;
    font-size: 12px;
}
.panel.with-nav-tabs .nav-tabs{
  border-top: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
#tab-form{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  border: none;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border: none;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border: none;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .

 {
    background-color: #f5f5f5;
  border: none;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/*textarea untuk post end*/

/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:15px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.post-footer-option li a{
    color:#6f89a1;
    font-weight:500;
    font-size:1.3rem;
}

.photo-medium{
  margin: 20px 0px 10px 0px;
  border:1px solid #DDD;  
  border-radius: 50%;  
  width : 100px; 
  height : 100px;
}

.photo-small{
    border:1px solid #DDD;  
  border-radius: 50%;  
  width : 40px; 
  height : 40px;
}

.photo-xsmall{
    border:1px solid #DDD;  
  border-radius: 50%;  
  width : 35px; 
  height : 35px;
}

.anchor-username h4, h5{
    font-weight:bold;   
}

.anchor-time{
    color:#ADB2BB;
    font-size:1.2rem;
}

.anchor-time-small{
    color:#ADB2BB;
    font-size:1.1rem;
}

.hashtag{
    color:#ADB2BB;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
    padding-top: 10px;
    margin-bottom: 10px; 
}

  /*tags*/
  .ui-autocomplete {
    z-index: 1510 !important;
  }
 
#posting img p{
  max-width :100%;
  max-height :200px;
  margin-left :auto;
  margin-right :auto;
}

#comment{
  margin-left: 45px;
}
  /*responsive video*/
  .note-video-clip{
    width: 100%;
  }
/*-- Content Style End --*/

/*-- Chat Style --*/
.bubble-username{
    display: block;
    position: relative;
    padding: .25em .5em;
    border-radius: 10px;
    clear: both;
    max-width:90%;
    word-wrap: break-word; 
}
.bubble-left,
.bubble-right {
    position: relative;
    padding: .25em .5em;
    border-radius: 10px;
    margin-bottom: 5px;
    clear: both;
    max-width:90%;
    word-wrap: break-word; 
}

.bubble-left {
    float: left
    margin-right:10%;
    background: #ffee80;
    display: inline-block;
}
.bubble-right {
    float:right;
    margin-left:10%;
    background: #bae8ff;
    display: block;
}
.bubble-hr {
    border-top: 1px solid #fff;
    margin: 3px;
}


/*-- Chat Style End --*/


/*-- Loading Content --*/
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.content-placeholder {
  display: inline-block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: inherit;
  position: relative;
}

.post_data
{
  padding:24px;
  border:1px solid #f9f9f9;
  border-radius: 5px;
  margin-bottom: 24px;
  box-shadow: 10px 10px 5px #eeeeee;
}

/*-- Loading Content end--*/


/*-- Hidden Input--*/
/*Disembunyikan dengan css karna kalau cuman hidden doang maka tidak bisa diambil valuenya*/
.offscreen {
    position: absolute;
    left: -999em;
}
/*-- Hidden Input end--*/